@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blue: #2880B9;
    --orange: #EFAD4E;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 20%;
}

#header {
    padding-top: 10px;
    text-align: center;
    align-content: center;
}

.btn-menu {
    background-color: var(--blue);
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-color: transparent;
    width: 10%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
    padding-bottom: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    display: flex;
}

.menu-header {
    background-color: var(--blue);
    color: var(--white);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.calculation-area {
    margin-top: 10px;
}

input[type=number] {
    border-radius: 5px;
    margin: 5px;
}

.btn-hitung {
    background-color: var(--blue);
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-color: transparent;
    width: 10%;
}

.btn-reset {
    background-color: var(--orange);
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-color: transparent;
    width: 10%
}
